<div id="login-container">
<h1 class="sessions-header">Reset your password.</h1>

<%= form_tag save_password_path do %>
  <p>
    <%= label_tag :password, "Password:", :class => "input-box-label" %><br />
    <%= password_field_tag :password, params[:password], :class => "text-input-box"  %>
  </p>
  <p>
    <%= label_tag :password_confirmation, "Password Confirmation:", :class => "input-box-label" %><br />
    <%= password_field_tag :password_confirmation, params[:password_confirmation], :class => "text-input-box"  %>
  </p>
  <p style="display:none;">
    <%= text_field_tag :reset_token, params[:reset_token] %>
  </p>
  <%= submit_tag "Save", :class => "site-button save-button" %>
  <% if @errors %>
    <div class="error_messages">
      <% for message in @errors %>
        <p class="login-error"> &bull; <%= message %></p>
      <% end %>
    </div>
  <% end %>
<% end %>
</div>