<div id="login-container">
<h1 class="sessions-header">Forgot password?<br>We can help!</h1>

<%= form_tag reset_password_path do %>
  <p>
    <%= label_tag :email, "E-mail:", :class => "input-box-label" %><br />
    <%= text_field_tag :email, params[:email], :class => "text-input-box"  %>
  </p>
  <%= submit_tag "Reset", :class => "site-button save-button" %>
  <% if @errors %>
    <div class="error_messages">
      <% for message in @errors %>
        <p class="login-error"> &bull; <%= message %></p>
      <% end %>
    </div>
  <% end %>
<% end %>
</div>