<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Gumball| Netflix for Fashion Accessories" %></title>
    <%= csrf_meta_tags %>
    <%= render "shared/favicons" %>
    <%= stylesheet_link_tag "application", :media => "all" %>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row-fluid">
        <div id="main" class="span12">
          <%#= bootstrap_flash %>
          <%= yield %>
        </div>
      </div>
    </div>
    <%= javascript_include_tag "application" %>
  </body>
</html>
